/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #ffcdd2;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-light-green: #b2dfdb;
  --color-green: #4f9a94;
  --color-dark-mint: #81b9bf;
  --color-hologram-pink: #fce4ec;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-seri;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
  margin: 0 10px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/* Typography : 패딩,텍스트,마진 등에 대해서 스타일링 하는 것*/
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-light-green);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

.navbar__menu {
  display: flex;
  justify-content: space-around;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  color: var(--color-light-grey);
}

.navbar__logo {
  display: flex;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  align-items: center;
}

.navbar__logo img {
  width: 30px;
  height: 30px;
}

.navbar__toggle-btn {
  position: absolute;
  top: 20px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: center/cover no-repeat url(imgs/home-bg-green.png);
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.home__txt {
  margin-left: 400px;
}

.home__img {
  margin-right: 400px;
}

.home__title {
  margin: 0;
  font-size: 55px;
}

#home__avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title {
  color: var(--color-white);
}
.home__description {
  color: var(--color-green);
  font-weight: var(--weight-semi-bold);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--weight-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Section common */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
  padding: 0 100px 0 100px;
}

.major__icon {
  width: 200px;
  height: 200px;
  border: 1px solid var(--color-green);
  border-radius: 50%;
  /* line-height: 200px; */
  color: var(--color-green);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.major__icon i {
  /* 250~350 정도가 적당 */
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: var(--color-dark-pink);
  transform: rotate(30deg) scale(1.1);
}

.major__title,
.major__description {
  margin-top: 20px;
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.jobs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

#kh_img {
  margin: 0 45px 0 50px;
}

/* Skill */
#skills {
  background-color: var(--color-dark-mint);
}

#skills h1,
#skills h3 {
  color: var(--color-white);
}

.skills {
  display: flex;
  justify-content: center;
  color: #fce4ec;
}

.fa-js-square,
.fa-html5,
.fa-css3,
.fa-react,
.fa-node,
.fa-python {
  margin: 20px 30px;
  transition: all var(--animation-duration) ease;
}

.fa-js-square:hover,
.fa-html5:hover,
.fa-css3:hover,
.fa-react:hover,
.fa-node:hover,
.fa-python:hover {
  color: #eeeeee;
  transform: rotate(-10deg);
}

/* Work */
.work__categories {
  display: flex;
  justify-content: center;
}

.category__btn {
  font-size: var(--font-regular);
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  padding: 8px 48px;
  margin: 16px 0;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.category__count {
  background-color: var(--color-light-white);
  color: var(--color-blue);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.work__projects {
  display: flex;
  /* 한 줄에 들어가지 않으면 다음 줄로 자동으로 배치 */
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 250px;
  height: 250px;
  margin: 2px;
  position: relative;
}

.project__img {
  cursor: pointer;
  max-width: 100%;
  max-height: 100%;
}

.project_description {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
  transform: translateY(10px);
}

.project_description h3 {
  color: var(--color-white);
}

.project_description h3:after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: var(--color-hologram-pink);
  display: block;
  position: relative;
  left: 30%;
  margin-top: 8px;
}

.project:hover .project_description {
  opacity: 0.5;
  transform: translateY(0px);
}

/* Contact */
#contact {
  background-color: #005662;
}

.contact__title,
.contact__email,
.contact__right {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__link {
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}

.contact__link a:hover i {
  transform: scale(1.2);
  color: var(--color-hologram-pink);
}

/* 반응형은 @media 쿼리를 이용해야함. */
/* screen & 최대 너비가 768px */
@media screen and (max-width: 768px) {
  /* 최소한의 정보만 담기. */
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .skills {
    flex-direction: column;
  }

  #home {
    flex-direction: column;
    text-align: center;
  }

  .home__txt,
  .home__img {
    margin: auto;
  }
}
